<!DOCTYPE html>
<html>
  <head>
    <title>BuildingManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-body-light dark:bg-body-dark">
    <% if Current.user.present? %>
      <div class="pl-8 pr-8 pt-8 sm:ml-64">
        <%= render partial: "shared/navbar" %>
      </div>
    
      <%= render partial: "shared/sidebar" %>

      <div class="flex items-center justify-center m-4 sm:ml-64">
        <%= render partial: "shared/flash" %>
      </div>

      <div class="sm:ml-64 mb-10">
        <%= yield %>
      </div>

    <% else %>
      <div class="flex items-center justify-center m-10">
        <%= render partial: "shared/flash" %>
      </div>
      <%= yield %>
    <% end %>
  </body>
</html>
